.enigmaBook {
  background-color: black;
  background-size: 100%;
  width: 720px;
  height: 475px;
  margin: 30px auto;
  padding: 20px 100px;
  border-radius: 8px;
  color: #000000;

  background-image: url("../../assets//image/enigma-book.png");
}

.text {
  width: 260px;
  padding: 20px 32px;
  text-align: left;
  float: left;
  font-family: courier new;
  font-size: 13pt;
  height: 400px;
  overflow: auto;
  word-wrap: break-word;
}
